/* src/styles/insClassCard.css */

.ins-class-card {
    width: 100%;
    border: 1px solid #000000;
    padding: 15px;
    margin: 10px;
    background-color: #a52661;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #6e008a;
    color:#ffffff;
  }
  
  button {
    margin-right: 5px;
  }