/* src/styles/insProfileCard.css */

.ins-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .profile-section {
    border: 1px solid #000000;
    padding: 15px;
    margin: 10px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:max-content; /* Adjust as needed */
    text-align: left;
    border-radius: 20px;
    color: #05253A;
  }
  
  .profile-section h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    margin-left: 10px;
    background: none;
    border: none;
  }
  
i{
  background: none;
  size: 20px;
}
i:hover{
  color:#c68888;
}

hr{
  background: #05253A;
}